@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
    position: relative;    
}

.splide {
    visibility: visible;
}

.splide__arrow--prev {
    left: -1em;
}

.splide__arrow--next {
    right: -1em;
}

.splide__pagination  {
    bottom: -3em;
}

#title_text {
    font-size: xx-large;
}

#submit_button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.custom-button {
    background-color: black;
    color: white;
    width: 50%;
    margin-top: 2rem;
    border: 2px solid white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: white;
    color: black;
}

.floating {
    animation: floatAnimation 2s ease-in-out infinite;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}